*{
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif !important;
    background-color: #FFFCF9;
}

.banner_index {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.banner_image_index {
    width: 100%;
    height: auto;
}

.logo_image_index {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.logo_index {
    height: 70px;
    width: auto;
    margin-bottom: 20%;
}

.text_banner_index {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.text_banner_index h1 {
    font-family: "New Rocker", system-ui;
    font-size: 35px;
    margin-top: 5px;
    font-weight: 500;
}

.text_banner_index h3 {
    font-family: "New Rocker", system-ui;
    font-size: 25px;
    margin-top: 5px;
    color: rgb(239, 207, 0);
    font-weight: 600;
}

.icon_pesquisa_index {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    color: white;
    margin-left: 13%;
    margin-top:5%;
}

.icon_pesquisa_index img {
    height: 20px;
    width: auto;
}

.icon_pesquisa_index:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

.text_conta_index {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    color: white;
    margin-right: 10%;
    margin-top: 5%;
    gap: 15px;
    align-items: center;
}

.text_index {
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 254);
    font-weight: 300;
}

.text_index:hover {
    transition: 0.5s;
    text-decoration: underline;
    color: #ffffff;
}

.icon_sacola_index {
    height: 25px;
    width: auto;
    align-items: center;
  
}

.icon_sacola_index:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

.nav_index {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 20px;
}

.icon_menu_index {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}

.icon_menu_index img {
    height: 25px;
    width: auto;

}

.icon_menu_index:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

.nav_index ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 30px;
}

.nav_index ul li {
    margin-right: 20px;
}

.nav_index a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: "Montserrat", sans-serif; 
    font-weight: bold;
}

.nav_index a:hover {
    text-decoration: underline;
}


.carousel {
    top: 100px;
    position: relative;
    width: 80%;
    max-width: 2000px;
    height: 800px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    display: flex;
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    display: block;
}

input[name="slides"] {
    display: none;
}

#slide1:checked ~ .slides {
    transform: translateX(0%);
}

#slide2:checked ~ .slides {
    transform: translateX(-100%);
}

#slide3:checked ~ .slides {
    transform: translateX(-200%);
}

.controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.controls label {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.8;
}

input[name="slides"]:checked + label {
    opacity: 1;
}


.servicos2{
    top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    list-style: none;
    padding: 10px;
    gap: 25px;
    text-align: center;
}

.servicos2 {
    display: flex;
    justify-content: center;
    gap: 25px; 
    margin-top: 200px;
    margin-left: 10%;
    margin-right: 10%; 
}

.servicos2 ul {
    list-style: none;
    padding: 0;
}

.tabela1, .tabela2, .tabela3, .tabela4{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-size: 20px; 
}

.tabela4 img {
    width: 475px;
    height: 390px;
    margin-right: 20px;
}

.form_btn {
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}

button{
    height: 40px;
    width: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #000000;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    &:hover{
        background-color: #666666;
    }
}

button a{
    text-decoration: none;
    color: white;
}


#mini_sobre {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    margin-bottom: 50px; 
}

.pessoa_img img {
    width: 1500px; 
    height: auto;
    margin-left: -400px;
}

.pessoa_img {
    margin-left: -20px; 
}

.txt_sobre_nos h2{
    font-size: 30px;
    margin-bottom: 10px;
}
.txt_sobre_nos {
    font-size: 20px;
    flex: 1;
    margin-left: -400px;
    margin-right: 90px; 
}

footer {
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 35px 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-align: center;
    box-sizing: border-box; 
}

footer li {
    list-style: none;
    margin-bottom: 15px;
}

.sobre {
    margin-left: 200px;
}

.politica {
    margin-left: 200px;
    display: block;
}

.quem {
    margin-left: 200px;
    display: block;
}

footer a {
    color: white;
    text-decoration: none;
}

.importante {
    width: 15px;
    height: 15px;
}

#txt {
    font-size: 18px;
    margin-top: 25px;
    font-weight: bold;
}

#content2 {
    margin-top: 20px;
}

.dados {
    margin-right: 200px;
}
